/* COMMON */
body {
  font-family: 'Josefin Sans', sans-serif;
}
.inner {
  position: relative;
  width: 1100px;
  height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}


/* HEADER-PART */
.h-container {
  position: relative;
  width: 100%;
  height: 100px;
  /* border-bottom: 1px solid #ff3200; */
}
.h-container .inner .h-sub-container {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  margin: auto; 
}
.h-container .inner .main_logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.h-container .inner .main_content {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  align-items: center;
}
.h-container .inner .main_content ul {
  display: flex; 
  align-items: center;
}
.h-container .inner .main_content ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
  margin: 15px;
}
.h-container .inner .main_content ul li:first-child a {
  color: #fb5849;
}
.h-container .inner .main_content ul li .arrow {
  position: absolute;
  font-size: 20px;  
}
.h-container .inner .main_content ul li a:hover {
  color: #fb5849;
}


/* TOP-IMG-PART */
.ti-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 700px;
}
.ti-container .top-left-bg{
  background-image: url(../images/top-left-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 40%;
  height: 100%;
}
.ti-container .top-left-bg img {
  z-index: -1;
}
.top-left-bg .inner-content {
  position: absolute;
  width: 300px;  
  height: 170px;
  top: 0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  text-align: center;
  line-height: 60px;
}
.top-left-bg h2 {
  margin-top: 25px;
  font-size: 32px;
  color: #fff;
}
.top-left-bg h3 {
  color: #fff;
  letter-spacing: 5px;
}
.top-left-bg .button {
  display: flex;
  width: 250px;
  margin-left: 25px;
  height: 50px;
  align-items: center;
  justify-content: center;
  border: 1px solid #ff3240;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 10px;
  background-color: #ff3240;
  color: #fff;
} 
.top-left-bg .button:hover {
  color: #ff3200;
  font-weight: 700;
  background-color: #fff;
} 
.ti-container .top-right-bg {
  background-image: url(../images/slide-01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 60vw;
  height: 100%;
}
.ti-container .top-right-bg img {
  position: absolute;
  right: 0;
  width: 65vw;
  height: 800px;
} 


/* SECTION-1-PART */
#about {
  padding: 100px 0px 0px 0px;
  position: relative;
  z-index: 9;
}
.section-container {
  line-height: 24px;
  height: 550px;
  
}
.section-container .row {
  display: flex;
  flex-wrap: wrap;
}
.section-container .row .left-section {
  max-width: 500px;
  text-align: left;
}
.section-container .row .left-section h6 {
  position: relative;
  font-size: 15px;
  color: #fb5849;
  font-weight:700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 40px;
}
.section-container .row .left-section h6::before {
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  left:0;
  top: 8px;
  background-color: #fb5849;
}
.section-container .row .left-section h2 {
  line-height: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  color: #2a2a2a;
  letter-spacing: 3px;
}
.section-container .row .left-section p {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
}
.section-container .row .left-section .bottom-images {
  display: flex;
}
.section-container .row .left-section .bottom-images .image {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  flex-grow: 1;
  max-width: 33.333333%;
}
.section-container .row .left-section .bottom-images .image:first-child {
  padding-left: 0;
}
.section-container .row .left-section .bottom-images img {
  width: 100%;
  overflow: hidden;
}
.right-section {
  position: relative;
}
.right-section .video-bg img {
  height: 100%;
}
.right-section .video-bg a {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  line-height: 70px;
  background-color: #fb5849;
  border-radius: 50%;
  text-decoration: none;
}
.right-section .video-bg a .material-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  color: #fff;
}


/* SECTION-2-PART */
#menu {
  background-color: #fffafa;
  padding: 100px 0px;
  z-index: 9;
}
.section-container .row .sec-title {
  max-width: 500px;
  text-align: left;
}
.section-container .row .sec-title h6 {
  position: relative;
  font-size: 15px;
  color: #fb5849;
  font-weight:700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 40px;
}
.section-container .row .sec-title h6::before {
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  left:0;
  top: 8px;
  background-color: #fb5849;
}
.section-container .row .sec-title h2 {
  line-height: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  color: #2a2a2a;
  letter-spacing: 3px;
}
.food-card {
  position: relative;
  max-width: 100%;
  margin-top: -280px;
}
.food-card .food-item {
  display: flex;
  width: 100%;
}
.food-card .food-item .f-item {
  position: relative;
  margin: 0 auto;
  width: 20%;
  height: 400px;
  margin-left: 15px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
}
.food-card .food-item .f-item:nth-child(1) {
  background-image: url(../images/menu-item-01.jpg);
}
.food-card .food-item .f-item:nth-child(2) {
  background-image: url(../images/menu-item-02.jpg);
}
.food-card .food-item .f-item:nth-child(3) {
  background-image: url(../images/menu-item-03.jpg);
}
.food-card .food-item .f-item:nth-child(4) {
  background-image: url(../images/menu-item-04.jpg);
}
.food-card .food-item .f-item:nth-child(5) {
  background-image: url(../images/menu-item-05.jpg);
}
.food-card .food-item .f-item .price {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: #fb5849;
}
.food-card .food-item .f-item .price h6 {
  font-size: 20px;
  color: #fff;
  line-height: 60px;
  text-align: center;
}
.food-card .food-item .f-item .info {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 40px;
  bottom: 0;
  background-color: #fb5849;
  border-radius: 0 0 5px 5px;
  transition: 1s ease-out;
  cursor: pointer;
}
.food-card .food-item .f-item .info.displayed {
  background-color: rgba(70, 70, 70, 0.5);
}
.food-card .food-item .f-item .info:hover {
  height: 150px;
}
.food-card .food-item .f-item .info .title {
  text-align: left;
  margin: 15px 0 30px 20px;
  color: #fff;
  text-transform: uppercase;
}
.food-card .food-item .f-item .info .description {
  position: absolute;
  margin-left: 20px;
  text-align: left;
  font-size: 14px;
  color: #fff;
}

/* OUR CHEFS-PART */
#chefs {
  height: 750px;
}
.section-container {
  max-width: 100%;
}
.section-container .sec-title2 {
  position: relative;
  width: 400px;
  margin: 0 auto;
  line-height: 30px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 50px;
}
.section-container .sec-title2 h6 {
  font-size: 15px;
  color: #fb5849;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section-container .sec-title2 h2 {
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 100px;
  font-size: 30px;
  font-weight: 700;
  color: #2a2a2a;
}
.section-container .chef-info {
  position: relative;
  max-width: 100%;
  height: 460px;
}
.section-container .chef-info .chef-item {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -54px;
}
.section-container .chef-info .chef-item .c-item {
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 5px;
  border: 1px solid #afafaf;
  margin-bottom: 50px;
}
.section-container .chef-info .chef-item .c-item:hover {
  border: 1px solid #fb5849;
}
.section-container .chef-info .chef-item .c-item .c-img {
  position: relative;
  padding: 5px;
  box-sizing: border-box;
}
#ct {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 360px;
  height: 341px;
}
.cover-top .text {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0);
  text-align: center;
  line-height: 341px;
  border-radius: 5px;
  transition: .3s;
  opacity:0;
}
#ct:hover .text{
  background-color: #2a2a2a;
  color: white;
  opacity: .8
}
.cover-top a {
  text-decoration: none;
  color: #fff;
}
.section-container .chef-info .chef-item .c-item .c-name {
  position: relative;
  width: 200px;
  margin: 0 auto;
}
.section-container .chef-info .chef-item .c-item .c-name h2 {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}
.section-container .chef-info .chef-item .c-item:hover .c-name h2 {
  color: #fb5849;
}
.section-container .chef-info .chef-item .c-item .c-name h6 {
  text-align: center;
}
.b-container {
  margin-top: 120px;
}

/* B-SECTION-PART */
#reservation {
  padding-top: 120px;
  background-image: url(../images/reservation-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 600px;
}
.b-lr-container {
  display: flex;
}
.b-left {
  width: 1200px;
}
.b-left .left-s-top {
  line-height: 20px;
}
.b-left .left-s-top h6 {
  position: relative;
  color: #fff;
  padding-left: 40px;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.b-left .left-s-top h6::before {
  content: "";
  width: 30px;
  height: 1px;
  position: absolute;
  left:0;
  top: 8px;
  background-color: #fff;
}
.b-left .left-s-top h2 {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  margin: 35px 0 35px 0;
  font-weight: 700;
}
.b-left .left-s-top p {
  color: #fff;
  font-size: 13px;
}
.b-left .left-s-bottom {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.b-left .left-s-bottom .phone-num-box {
  width: 200px;
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
  margin-right: 60px;
}
.b-left .left-s-bottom .email-box {
  width: 200px;
  height: 150px;
  background-color: #fff;
  border-radius: 5px;
}
.b-left .left-s-bottom .phone-i {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #fb5849;
  border-radius: 50%;
  margin-left: 70px;
  margin-top: -20px;
  z-index: 1;
}
.b-left .left-s-bottom .email-i {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #fb5849;
  border-radius: 50%;
  margin-left: 70px;
  margin-top: -20px;
}

.phone-i > .material-icons,
.email-i > .material-icons {
  position: absolute;
  display: flex;
  line-height: 60px;
  font-size: 24px;
  justify-content: center;
  color: #fff;
  left: calc((60px - 24px) / 2);
}
.phone-num-box .phone-content,
.email-box .email-content {
  text-align: center;
  margin-top: 15px;
}
.phone-num-box .phone-content .phone-text,
.email-box .email-content .email-text {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: #2a2a2a;
}
.phone-num-box .phone-content .phone-number,
.email-box .email-content .email-addr {
  font-size: 12px;
  line-height: 16px;
  color: #2a2a2a;
}
.b-right {
  position: relative;
  background-color: #fff;
  margin-top: -50px;
  margin-bottom: -50px;
  border-radius: 10px;
  width: 100%;
  margin-left: 60px;
}
.b-right .b-title {
  text-align: center;
  margin-top: 60px;
  color: #2a2a2a;
  font-size: 30px;
  font-weight: 700;
}
.b-right .b-type-in {
  position: relative;
  width: 500px;
  height: 350px;
  margin: 0 auto;
}
.b-right .b-type-in .type-in-left {
  position: absolute;
  top: 20px;
  left: 0;
  width: 50%;
}
.b-right .b-type-in .type-in-right {
  position: absolute;
  top: 20px;
  right: 0;
  width: 50%;
}
.b-right .b-type-in .type-in-left input,
.b-right .b-type-in .type-in-right input {
  width: 220px;
  height: 40px;
  margin: 15px;  
  box-sizing: border-box;
}
.b-right .b-type-in .type-in-msg {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.b-right .b-type-in .type-in-msg input {
  width: 470px;
  height: 110px;
  margin-left: 15px;
  text-align: left;
  box-sizing: border-box;
}
.b-right .b-button {
  position: relative;
  width: 470px;
  background-color: #fb5849;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
}
.b-right .b-button:hover {
  background-color: #fff;
  color: #fb5849;
  border: 1px solid #fb5849;
}

/* KLASSY WEEK-PART */

#klassy-week {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 700px;
}
.section-container .k-text {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.section-container .k-text h6 {
  color: #fb5849;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  line-height: 50px;
}
.section-container .k-text h2 {
  color: #2a2a2a;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  line-height: 40px;
}
.tab-content {
  position: relative;
  text-align: center;
}
input[type="radio"] {
  display: none;
}
input[type="radio"] + label {
  display: inline-block;
  padding: 20px;
  color: #000;
  font-size: 16px;
  cursor: pointer;
}
input[type="radio"] + label span {
  display: block;
}
input[type="radio"]:checked + label {
  color: #fb5876;
}
input[id="tab01"]:checked ~ .con1 {
  display: block;
}
input[id="tab02"]:checked ~ .con2 {
  display: block;
}
input[id="tab03"]:checked ~ .con3 {
  display: block;
}
.k-food-list {
  display: none;
}
.section-container .k-food-list {
  margin-top: 30px;
  max-width: 100%;
}
.section-container .k-food-list .k-food-list-m {
  display: flex;
  justify-content: center;
}
.section-container .k-food-list .k-food-list-m .k-food-list-f1,
.section-container .k-food-list .k-food-list-m .k-food-list-f2 {
  padding: 25px;
}
.section-container .k-food-list .k-food-list-m .f-1 {
  display: flex;
  margin: 15px;
  align-items: center;
}
.section-container .k-food-list .k-food-list-m .f-1 .food-img {
  border-radius: 10px;
}
.section-container .k-food-list .k-food-list-m .f-1 .food-texture {
  margin-left: 25px;
  width: 300px;
}
.section-container .k-food-list .k-food-list-m .f-1 .food-texture h2 {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 5px;
}
.section-container .k-food-list .k-food-list-m .f-1 .food-texture h6 {
  font-size: 13px;
  line-height: 14px;
}
.section-container .k-food-list .k-food-list-m .f-1 .food-cost {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #fb5849;
  border-radius: 6px;
  text-align: center;
  line-height: 70px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

/* FOOTER */
#footer {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #fb5849;
}
.main_foot {
  position: absolute;
  width: 100%;
  height: 150px;
}
.main_foot .sub_foot {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;

}
.main_foot .sub_foot .sns {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 250px;
  text-align: center;
}
.main_foot .sub_foot .sns li {
  margin-right: 15px;
}
.main_foot .sub_foot .sns li a {
  display: inline-block;
  width: 44px;
  height: 44px;
  background-color: #fff;
  text-align: center;
  line-height: 44px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 50%;
  box-sizing: border-box;
  color: #fb5849;
}
.main_foot .sub_foot .sns li a .fab {
  font-size: 20px;
  text-align: center;
  line-height: 44px;
}
.main_foot .sub_foot .foot_logo {
  position: relative;
  left: calc((100% - 170px) / 2);
}
.main_foot .sub_foot .copyright {
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 16px;
  text-align: right;
  line-height: 23px;
}
